.navigation-links-wrapper {
  display: contents;
}
 
.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text2 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 
.navigation-links-text3 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-wrapper-0vpz {
  display: contents;
}
 
.navigation-links-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text5 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 
.navigation-links-text6 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-wrapper-s0su {
  display: contents;
}
 
.navigation-links-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text8 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 
.navigation-links-text9 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav2 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text8 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text9 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-wrapper-pdkj {
  display: contents;
}
 
.navigation-links-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text11 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 
.navigation-links-text12 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav3 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navbar-wrapper {
  display: contents;
}
 
.navbar-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.navbar-max-width {
  position: fixed;
}
 
.navbar-text1 {
  color: #121212;
  text-decoration: none;
}
 
.navbar-image1 {
  width: 106px;
  display: none;
}
 
.navbar-nav1 {
  display: flex;
}
 
.navbar-navlink1 {
  display: contents;
}
 
.navbar-home {
  text-decoration: none;
}
 
.navbar-nav2 {
  display: flex;
}
 
.navbar-navlink2 {
  display: contents;
}
 
.navbar-termsofservice {
  text-decoration: none;
}
 
.navbar-nav3 {
  display: flex;
}
 
.navbar-navlink3 {
  display: contents;
}
 
.navbar-privacy {
  text-decoration: none;
}
 
.navbar-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar-nav4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar-image2 {
  width: 106px;
}
 
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar-primary-btn {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
 
.navbar-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-text2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
 
.navbar-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.navbar-icon14 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
 
.navbar-icon14:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.navbar-icon18 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
 
.navbar-icon18:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.navbar-icon22 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
 
.navbar-icon22:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.navbar-icon24 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
 
.navbar-icon24:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
@media(max-width: 767px) {
  .navbar-nav1 {
    display: none;
  }
  .navbar-nav2 {
    display: none;
  }
  .navbar-nav3 {
    display: none;
  }
}

.banner1-wrapper {
  display: contents;
}
 
.banner1-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.banner1-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner1-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner1-title {
  text-align: center;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}

.features4-wrapper {
  display: contents;
}
 
.features4-layout301 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.features4-text10 {
  text-align: center;
}
 
.features4-row {
  width: 100%;
}
 
.features4-feature1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features4-content1 {
  align-self: stretch;
  align-items: center;
}
 
.features4-section-title1 {
  align-self: stretch;
  align-items: center;
}
 
.features4-title1 {
  text-align: center;
}
 
.features4-description1 {
  text-align: center;
}
 
.features4-action5 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.features4-feature2 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features4-content2 {
  align-self: stretch;
  align-items: center;
}
 
.features4-section-title2 {
  align-self: stretch;
  align-items: center;
}
 
.features4-title2 {
  text-align: center;
}
 
.features4-description2 {
  text-align: center;
}
 
.features4-action6 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.features4-feature3 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features4-content3 {
  align-self: stretch;
  align-items: center;
}
 
.features4-section-title3 {
  align-self: stretch;
  align-items: center;
}
 
.features4-title3 {
  text-align: center;
}
 
.features4-description3 {
  text-align: center;
}
 
.features4-action7 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.features4-feature4 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features4-content4 {
  align-self: stretch;
  align-items: center;
}
 
.features4-section-title4 {
  align-self: stretch;
  align-items: center;
}
 
.features4-title4 {
  text-align: center;
}
 
.features4-description4 {
  text-align: center;
}
 
.features4-action8 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features4-row {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .features4-feature1 {
    width: 100%;
  }
  .features4-feature2 {
    width: 100%;
  }
  .features4-feature3 {
    width: 100%;
  }
  .features4-feature4 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .features4-text10 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .features4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.slide-wrapper {
  display: contents;
}
 
.slide-slide {
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-backgrounds-darkblue);
}
 
.slide-max-width {
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
 
.slide-left-side {
  width: 50%;
  display: flex;
  align-items: stretch;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
 
.slide-decorations-container {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
 
.slide-dots {
  width: 126px;
  height: 126px;
  margin-top: 21px;
  object-fit: cover;
  margin-right: 21px;
}
 
.slide-squares-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
 
.slide-light-green {
  flex: 0 0 auto;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #6c8b97;
}
 
.slide-orange {
  flex: 0 0 auto;
  width: 108px;
  height: 108px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffbb04;
}
 
.slide-image-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
 
.slide-image {
  width: 100%;
  height: 485px;
  object-fit: cover;
}
 
.slide-slider-controls {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
 
.slide-go-left {
  flex: 0 0 auto;
  width: 100%;
  height: 108px;
  display: flex;
  max-width: 108px;
  max-height: 108px;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.slide-go-left:hover {
  cursor: pointer;
  background-color: rgba(229, 229, 229, 0.2);
}
 
.slide-icon1 {
  fill: var(--dl-color-grays-white100);
  width: 42px;
  height: 42px;
}
 
.slide-go-right {
  flex: 0 0 auto;
  width: 100%;
  height: 108px;
  display: flex;
  max-width: 108px;
  max-height: 108px;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.slide-go-right:hover {
  cursor: pointer;
  background-color: rgba(229, 229, 229, 0.2);
}
 
.slide-icon3 {
  fill: var(--dl-color-grays-white100);
  width: 42px;
  height: 42px;
}
 
.slide-right-side {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
 
.slide-testimonial {
  color: #ffbb04;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 42px;
}
 
.slide-author {
  color: var(--dl-color-grays-white100);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
 
.slide-role {
  color: var(--dl-color-grays-white60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 1px;
  text-transform: uppercase;
}
 
.slideroot-class-name {
  display: none;
  background-color: #8e622b;
}
 
.slideroot-class-name2 {
  background-color: var(--dl-color-backgrounds-purple);
}
 
.slideroot-class-name3 {
  background-color: var(--dl-color-backgrounds-green);
}
 
.slideroot-class-name4 {
  display: none;
  background-color: #0c1c29;
}
 
.slideroot-class-name5 {
  display: none;
  background-color: #60775a;
}
 
@media(max-width: 991px) {
  .slide-left-side {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
 
@media(max-width: 767px) {
  .slide-max-width {
    flex-direction: column;
  }
  .slide-left-side {
    width: 100%;
    padding-right: 0px;
  }
  .slide-image {
    max-width: 700px;
  }
  .slide-right-side {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .slide-dots {
    width: 60px;
    height: 60px;
  }
  .slide-light-green {
    width: 36px;
    height: 36px;
  }
  .slide-orange {
    width: 75px;
    height: 75px;
  }
  .slide-go-left {
    height: 75px;
    max-width: 75px;
    max-height: 75px;
  }
  .slide-go-right {
    height: 75px;
    max-width: 75px;
    max-height: 75px;
  }
}

.slide-wrapper-ttnj {
  display: contents;
}
 
.slide-slide1 {
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-backgrounds-darkblue);
}
 
.slide-max-width1 {
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
 
.slide-left-side1 {
  width: 50%;
  display: flex;
  align-items: stretch;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
 
.slide-decorations-container1 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
 
.slide-dots1 {
  width: 126px;
  height: 126px;
  margin-top: 21px;
  object-fit: cover;
  margin-right: 21px;
}
 
.slide-squares-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
 
.slide-light-green1 {
  flex: 0 0 auto;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #6c8b97;
}
 
.slide-orange1 {
  flex: 0 0 auto;
  width: 108px;
  height: 108px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffbb04;
}
 
.slide-image-container1 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
 
.slide-image1 {
  width: 100%;
  height: 485px;
  object-fit: cover;
}
 
.slide-slider-controls1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
 
.slide-go-left1 {
  flex: 0 0 auto;
  width: 100%;
  height: 108px;
  display: flex;
  max-width: 108px;
  max-height: 108px;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.slide-go-left1:hover {
  cursor: pointer;
  background-color: rgba(229, 229, 229, 0.2);
}
 
.slide-icon5 {
  fill: var(--dl-color-grays-white100);
  width: 42px;
  height: 42px;
}
 
.slide-go-right1 {
  flex: 0 0 auto;
  width: 100%;
  height: 108px;
  display: flex;
  max-width: 108px;
  max-height: 108px;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.slide-go-right1:hover {
  cursor: pointer;
  background-color: rgba(229, 229, 229, 0.2);
}
 
.slide-icon7 {
  fill: var(--dl-color-grays-white100);
  width: 42px;
  height: 42px;
}
 
.slide-right-side1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
 
.slide-testimonial1 {
  color: #ffbb04;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 42px;
}
 
.slide-author1 {
  color: var(--dl-color-grays-white100);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
 
.slide-role1 {
  color: var(--dl-color-grays-white60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 1px;
  text-transform: uppercase;
}
 
.slideroot-class-name {
  display: none;
  background-color: #8e622b;
}
 
.slideroot-class-name2 {
  background-color: var(--dl-color-backgrounds-purple);
}
 
.slideroot-class-name3 {
  background-color: var(--dl-color-backgrounds-green);
}
 
.slideroot-class-name4 {
  display: none;
  background-color: #0c1c29;
}
 
.slideroot-class-name5 {
  display: none;
  background-color: #60775a;
}
 
@media(max-width: 991px) {
  .slide-left-side1 {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
 
@media(max-width: 767px) {
  .slide-max-width1 {
    flex-direction: column;
  }
  .slide-left-side1 {
    width: 100%;
    padding-right: 0px;
  }
  .slide-image1 {
    max-width: 700px;
  }
  .slide-right-side1 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .slide-dots1 {
    width: 60px;
    height: 60px;
  }
  .slide-light-green1 {
    width: 36px;
    height: 36px;
  }
  .slide-orange1 {
    width: 75px;
    height: 75px;
  }
  .slide-go-left1 {
    height: 75px;
    max-width: 75px;
    max-height: 75px;
  }
  .slide-go-right1 {
    height: 75px;
    max-width: 75px;
    max-height: 75px;
  }
}

.slide-wrapper-pbdu {
  display: contents;
}
 
.slide-slide2 {
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-backgrounds-darkblue);
}
 
.slide-max-width2 {
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
 
.slide-left-side2 {
  width: 50%;
  display: flex;
  align-items: stretch;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
 
.slide-decorations-container2 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
 
.slide-dots2 {
  width: 126px;
  height: 126px;
  margin-top: 21px;
  object-fit: cover;
  margin-right: 21px;
}
 
.slide-squares-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
 
.slide-light-green2 {
  flex: 0 0 auto;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #6c8b97;
}
 
.slide-orange2 {
  flex: 0 0 auto;
  width: 108px;
  height: 108px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffbb04;
}
 
.slide-image-container2 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
 
.slide-image2 {
  width: 100%;
  height: 485px;
  object-fit: cover;
}
 
.slide-slider-controls2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
 
.slide-go-left2 {
  flex: 0 0 auto;
  width: 100%;
  height: 108px;
  display: flex;
  max-width: 108px;
  max-height: 108px;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.slide-go-left2:hover {
  cursor: pointer;
  background-color: rgba(229, 229, 229, 0.2);
}
 
.slide-icon9 {
  fill: var(--dl-color-grays-white100);
  width: 42px;
  height: 42px;
}
 
.slide-go-right2 {
  flex: 0 0 auto;
  width: 100%;
  height: 108px;
  display: flex;
  max-width: 108px;
  max-height: 108px;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.slide-go-right2:hover {
  cursor: pointer;
  background-color: rgba(229, 229, 229, 0.2);
}
 
.slide-icon11 {
  fill: var(--dl-color-grays-white100);
  width: 42px;
  height: 42px;
}
 
.slide-right-side2 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
 
.slide-testimonial2 {
  color: #ffbb04;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 42px;
}
 
.slide-author2 {
  color: var(--dl-color-grays-white100);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
 
.slide-role2 {
  color: var(--dl-color-grays-white60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 1px;
  text-transform: uppercase;
}
 
.slideroot-class-name {
  display: none;
  background-color: #8e622b;
}
 
.slideroot-class-name2 {
  background-color: var(--dl-color-backgrounds-purple);
}
 
.slideroot-class-name3 {
  background-color: var(--dl-color-backgrounds-green);
}
 
.slideroot-class-name4 {
  display: none;
  background-color: #0c1c29;
}
 
.slideroot-class-name5 {
  display: none;
  background-color: #60775a;
}
 
@media(max-width: 991px) {
  .slide-left-side2 {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
 
@media(max-width: 767px) {
  .slide-max-width2 {
    flex-direction: column;
  }
  .slide-left-side2 {
    width: 100%;
    padding-right: 0px;
  }
  .slide-image2 {
    max-width: 700px;
  }
  .slide-right-side2 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .slide-dots2 {
    width: 60px;
    height: 60px;
  }
  .slide-light-green2 {
    width: 36px;
    height: 36px;
  }
  .slide-orange2 {
    width: 75px;
    height: 75px;
  }
  .slide-go-left2 {
    height: 75px;
    max-width: 75px;
    max-height: 75px;
  }
  .slide-go-right2 {
    height: 75px;
    max-width: 75px;
    max-height: 75px;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-footer {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.footer-max-width {
  justify-content: space-between;
}
 
.footer-container1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-link1 {
  display: contents;
}
 
.footer-image {
  width: 92px;
  height: 58px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.footer-text10 {
  color: var(--dl-color-grays-gray100);
  max-width: 350px;
  margin-bottom: 60px;
}
 
.footer-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text11 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
 
.footer-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.footer-icon10 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
 
.footer-icon10:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.footer-icon14 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
 
.footer-icon14:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.footer-link2 {
  display: contents;
}
 
.footer-icon18 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.footer-icon18:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.footer-link3 {
  display: contents;
}
 
.footer-icon20 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  text-decoration: none;
}
 
.footer-icon20:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.footer-links {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.footer-container3 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text12 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.footer-text14 {
  display: none;
}
 
.footer-text15 {
  display: none;
}
 
.footer-text16 {
  display: none;
}
 
.footer-text17 {
  display: none;
  margin-bottom: 0px;
}
 
.footer-container4 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.footer-text19 {
  display: none;
}
 
.footer-text20 {
  display: none;
}
 
.footer-text21 {
  display: none;
}
 
.footer-text23 {
  margin-bottom: 0px;
}
 
.footerroot-class-name {
  display: none;
}
 
.footerroot-class-name1 {
  display: none;
}
 
.footerroot-class-name2 {
  display: none;
}
 
@media(max-width: 991px) {
  .footer-max-width {
    flex-direction: column-reverse;
  }
  .footer-container1 {
    width: 100%;
  }
  .footer-links {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .footer-links {
    flex-wrap: wrap;
  }
  .footer-container3 {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .footer-text12 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .footer-container4 {
    width: 100%;
  }
  .footer-text18 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.copyright-wrapper {
  display: contents;
}
 
.copyright-copyright {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
 
.copyright-max-width {
  align-items: stretch;
}
 
.copyright-text1 {
  color: var(--dl-color-grays-gray100);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
}
 
.copyright-text2 {
  font-style: normal;
  font-weight: 300;
}
 
.copyright-text3 {
  font-style: normal;
  font-weight: 300;
  text-decoration: underline;
}
 
.copyright-text4 {
  font-style: normal;
  font-weight: 300;
}
 
.copyright-text5 {
  font-style: normal;
  font-weight: 300;
  text-decoration: underline;
}
 
.copyright-text6 {
  font-style: normal;
  font-weight: 300;
}
 
.copyright-text7 {
  font-style: normal;
  font-weight: 300;
  text-decoration: underline;
}
 
.copyright-text8 {
  font-style: normal;
  font-weight: 300;
}
 
@media(max-width: 991px) {
  .copyright-max-width {
    flex-direction: column;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
 
.home-navlink {
  display: contents;
}
 
.home-component1 {
  text-decoration: none;
}
 
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-hero {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 0px;
  border-bottom-width: 1px;
}
 
.home-max-width1 {
  align-items: stretch;
}
 
.home-content-container1 {
  flex: 1;
  display: flex;
  position: relative;
  min-width: 50%;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
 
.home-heading {
  width: 1008px;
  height: 134px;
  display: none;
  font-size: 40px;
  align-self: center;
  text-align: left;
  margin-bottom: var(--dl-space-space-twounits);
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-text26 {
  display: none;
  font-size: 30px;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.home-input-container {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
 
.home-link {
  display: none;
  align-items: center;
  line-height: 1;
  padding-top: 20px;
  white-space: nowrap;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
  justify-content: center;
  text-decoration: none;
  background-color: #ffbb04;
}
 
.home-section-one {
  display: none;
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.home-max-width2 {
  flex-direction: column;
}
 
.home-text27 {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.home-text28 {
  font-size: 40px;
  font-weight: 400;
}
 
.home-text29 {
  color: #ffbb04;
  font-size: 40px;
  font-weight: 500;
}
 
.home-text30 {
  font-size: 40px;
  font-weight: 400;
}
 
.home-text32 {
  font-size: 25px;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.home-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.home-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-step1 {
  width: 303px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
 
.home-text36 {
  color: #D9D9D9;
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
 
.home-text38 {
  font-size: 1.15rem;
}
 
.home-text42 {
  color: rgb(89, 89, 89);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
 
.home-text44 {
  color: #ffbb04;
}
 
.home-step2 {
  width: 301px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
 
.home-text47 {
  color: #D9D9D9;
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
 
.home-text49 {
  font-size: 1.15rem;
}
 
.home-text54 {
  color: rgb(89, 89, 89);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
 
.home-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-step3 {
  width: 333px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
 
.home-text55 {
  color: #D9D9D9;
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
 
.home-text57 {
  font-size: 1.15rem;
  text-align: center;
}
 
.home-text61 {
  color: rgb(89, 89, 89);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
 
.home-step4 {
  width: 254px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
 
.home-text64 {
  color: #D9D9D9;
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
 
.home-text66 {
  font-size: 1.15rem;
  align-self: center;
  text-align: center;
}
 
.home-text70 {
  color: rgb(89, 89, 89);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
}
 
.home-text72 {
  color: #ffbb04;
}
 
.home-section-two {
  display: none;
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 0px;
  border-bottom-width: 1px;
}
 
.home-max-width3 {
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-image-container1 {
  flex: 1;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
 
.home-image1 {
  width: 665px;
  height: 642px;
  max-width: 640px;
  object-fit: cover;
  margin-left: -100px;
}
 
.home-content-container2 {
  flex: 1;
  display: flex;
  max-width: 446px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-text75 {
  margin-bottom: 24px;
}
 
.home-text76 {
  color: var(--dl-color-grays-gray100);
}
 
.home-text77 {
  color: #ffbb04;
  font-size: 18px;
}
 
.home-section-three {
  display: none;
}
 
.home-max-width4 {
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-content-container3 {
  flex: 1;
  display: flex;
  max-width: 446px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-text89 {
  margin-bottom: 24px;
}
 
.home-text91 {
  color: var(--dl-color-backgrounds-primary);
}
 
.home-text92 {
  color: var(--dl-color-grays-gray100);
}
 
.home-image-container2 {
  flex: 1;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
 
.home-image2 {
  width: 100%;
  object-fit: cover;
  margin-left: 85px;
}
 
.home-section-four {
  padding-bottom: 0px;
}
 
.home-max-width5 {
  display: none;
  flex-direction: column;
}
 
.home-text95 {
  font-size: 42px;
  text-align: center;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.home-text96 {
  font-family: "Lexend";
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
 
.home-text97 {
  color: #ffbb04;
  font-size: 44px;
}
 
.home-text98 {
  font-family: "Lexend";
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
 
.home-text99 {
  color: var(--dl-color-grays-black100);
  font-family: "Lexend";
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
 
.home-slider {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  transition: 0.5s;
  align-items: stretch;
  animation-name: none;
  flex-direction: row;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
@media(max-width: 991px) {
  .home-max-width1 {
    flex-direction: column;
  }
  .home-content-container1 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-heading {
    width: 100%;
  }
  .home-text36 {
    text-align: center;
  }
  .home-text38 {
    text-align: center;
  }
  .home-text47 {
    text-align: center;
  }
  .home-text49 {
    text-align: center;
  }
  .home-text55 {
    text-align: center;
  }
  .home-text57 {
    text-align: center;
  }
  .home-text64 {
    text-align: center;
  }
  .home-text66 {
    text-align: center;
  }
  .home-image1 {
    max-width: 100%;
    margin-left: 0px;
  }
  .home-content-container2 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text75 {
    width: 100%;
  }
  .home-content-container3 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text89 {
    width: 100%;
  }
  .home-image2 {
    max-width: 100%;
    margin-left: 0px;
  }
}
 
@media(max-width: 767px) {
  .home-text27 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container2 {
    flex-direction: column;
  }
  .home-step1 {
    padding: var(--dl-space-space-unit);
  }
  .home-step2 {
    padding: var(--dl-space-space-unit);
  }
  .home-step3 {
    padding: var(--dl-space-space-unit);
  }
  .home-step4 {
    padding: var(--dl-space-space-unit);
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-image-container1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-image1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-content-container2 {
    max-width: 100%;
  }
  .home-max-width4 {
    flex-direction: column-reverse;
  }
  .home-content-container3 {
    max-width: 100%;
  }
  .home-image-container2 {
    width: 100%;
    margin-right: 0px;
  }
  .home-image2 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text95 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
 
@media(max-width: 479px) {
  .home-input-container {
    flex-direction: column;
  }
  .home-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container3 {
    flex-direction: column;
  }
  .home-container4 {
    flex-direction: column;
  }
}
