.navigation-links-wrapper {
  display: contents;
}
 
.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text2 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 
.navigation-links-text3 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-wrapper-76a0 {
  display: contents;
}
 
.navigation-links-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text5 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 
.navigation-links-text6 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-wrapper-imze {
  display: contents;
}
 
.navigation-links-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text8 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 
.navigation-links-text9 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav2 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text8 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text9 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-wrapper-vhyt {
  display: contents;
}
 
.navigation-links-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text11 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 
.navigation-links-text12 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav3 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navbar-wrapper {
  display: contents;
}
 
.navbar-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.navbar-max-width {
  position: fixed;
}
 
.navbar-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
 
.navbar-text {
  color: #121212;
  text-decoration: none;
}
 
.navbar-home1 {
  display: flex;
}
 
.navbar-navlink1 {
  display: contents;
}
 
.navbar-home2 {
  text-decoration: none;
}
 
.navbar-tos {
  display: flex;
}
 
.navbar-navlink2 {
  display: contents;
}
 
.navbar-termsofservice {
  text-decoration: none;
}
 
.navbar-privacy1 {
  display: flex;
}
 
.navbar-navlink3 {
  display: contents;
}
 
.navbar-privacy2 {
  text-decoration: none;
}
 
.navbar-support1 {
  display: flex;
}
 
.navbar-navlink4 {
  display: contents;
}
 
.navbar-support2 {
  text-decoration: none;
}
 
@media(max-width: 767px) {
  .navbar-home1 {
    display: none;
  }
  .navbar-tos {
    display: none;
  }
  .navbar-privacy1 {
    display: none;
  }
  .navbar-support1 {
    display: none;
  }
}

.banner11-wrapper {
  display: contents;
}
 
.banner11-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.banner11-max-width1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner11-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner11-title1 {
  text-align: center;
}
 
.banner11-text10 {
  text-align: center;
}
 
.banner11-container3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.banner11-max-width2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner11-container4 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner11-title2 {
  text-align: center;
}
 
.banner11-text11 {
  text-align: center;
}
 
.supportandtips-fragment10 {
  display: contents;
}
 
.supportandtips-text10 {
  color: #bf4f4f;
  display: inline-block;
}
 
.supportandtips-fragment11 {
  display: contents;
}
 
.supportandtips-text19 {
  display: inline-block;
}
 
.supportandtips-fragment12 {
  display: contents;
}
 
.supportandtips-text20 {
  color: var(--dl-color-grays-dark100);
  display: inline-block;
  font-style: normal;
  font-weight: 200;
}
 
.supportandtips-fragment13 {
  display: contents;
}
 
.supportandtips-text31 {
  display: inline-block;
}
 
.banner11root-class-name {
  margin-top: var(--dl-space-space-fiveunits);
}
 
.banner11root-class-name1 {
  margin-top: var(--dl-space-space-fiveunits);
}

.team12-wrapper {
  display: contents;
}
 
.team12-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team12-content10 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team12-text11 {
  width: 417px;
  height: 56px;
  text-align: left;
}
 
.team12-slider1 {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}
 
.team12-slider-slide1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-container {
  flex: 0 0 auto;
  width: auto;
  height: 222px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.team12-placeholder-image1 {
  width: 163px;
  height: 239px;
  border-radius: var(--dl-radius-radius-radius8);
}
 
.team12-content11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text12 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text13 {
  text-align: center;
}
 
.team12-text14 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons1 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-pagination1 {
  display: none;
}
 
.team12-slider-pagination-bullet1 {
  display: none;
}
 
.team12-slider-button-prev1 {
  display: none;
}
 
.team12-slider-button-next1 {
  display: none;
}
 
.team12-slider2 {
  width: 100%;
  height: auto;
  display: none;
  position: relative;
}
 
.team12-slider-slide2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-placeholder-image2 {
  width: 80%;
}
 
.team12-content12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text15 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text17 {
  text-align: center;
}
 
.team12-text19 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-slide3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-placeholder-image3 {
  width: 80%;
}
 
.team12-content13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text21 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text22 {
  text-align: center;
}
 
.team12-text23 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-slide4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-placeholder-image4 {
  width: 80%;
}
 
.team12-content14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text25 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text27 {
  text-align: center;
}
 
.team12-text29 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-slide5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-placeholder-image5 {
  width: 80%;
}
 
.team12-content15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title5 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text31 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text33 {
  text-align: center;
}
 
.team12-text35 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-slide6 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card6 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-placeholder-image6 {
  width: 80%;
}
 
.team12-content16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title6 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text36 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text37 {
  text-align: center;
}
 
.team12-text38 {
  overflow: hidden;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-slide7 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card7 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-placeholder-image7 {
  width: 80%;
}
 
.team12-content17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title7 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text40 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text42 {
  text-align: center;
}
 
.team12-text43 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-pagination2 {
  display: block;
}
 
.team12-content18 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
}
 
.team12-content19 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.supportandtips-fragment26 {
  display: contents;
}
 
.supportandtips-text46 {
  display: inline-block;
}
 
.supportandtips-fragment21 {
  display: contents;
}
 
.supportandtips-text41 {
  display: inline-block;
}
 
.supportandtips-fragment22 {
  display: contents;
}
 
.supportandtips-text42 {
  display: inline-block;
}
 
.supportandtips-fragment19 {
  display: contents;
}
 
.supportandtips-text37 {
  display: inline-block;
}
 
.supportandtips-fragment25 {
  display: contents;
}
 
.supportandtips-text45 {
  display: inline-block;
}
 
.supportandtips-fragment14 {
  display: contents;
}
 
.supportandtips-text32 {
  display: inline-block;
}
 
.supportandtips-fragment30 {
  display: contents;
}
 
.supportandtips-text55 {
  display: inline-block;
}
 
.supportandtips-fragment31 {
  display: contents;
}
 
.supportandtips-text56 {
  display: inline-block;
}
 
.supportandtips-fragment28 {
  display: contents;
}
 
.supportandtips-text48 {
  display: inline-block;
}
 
.supportandtips-fragment33 {
  display: contents;
}
 
.supportandtips-text58 {
  display: inline-block;
}
 
.supportandtips-fragment23 {
  display: contents;
}
 
.supportandtips-text43 {
  display: inline-block;
}
 
.supportandtips-fragment32 {
  display: contents;
}
 
.supportandtips-text57 {
  display: inline-block;
}
 
.supportandtips-fragment20 {
  display: contents;
}
 
.supportandtips-text38 {
  display: inline-block;
}
 
.supportandtips-fragment27 {
  display: contents;
}
 
.supportandtips-text47 {
  display: inline-block;
}
 
.supportandtips-fragment17 {
  display: contents;
}
 
.supportandtips-text35 {
  display: inline-block;
}
 
.supportandtips-fragment16 {
  display: contents;
}
 
.supportandtips-text34 {
  display: inline-block;
}
 
.supportandtips-fragment18 {
  display: contents;
}
 
.supportandtips-text36 {
  display: inline-block;
}
 
.supportandtips-fragment24 {
  display: contents;
}
 
.supportandtips-text44 {
  display: inline-block;
}
 
.supportandtips-fragment15 {
  display: contents;
}
 
.supportandtips-text33 {
  display: inline-block;
}
 
.supportandtips-fragment29 {
  display: contents;
}
 
.supportandtips-text54 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .team12-team8 {
    padding: var(--dl-space-space-threeunits);
  }
  .team12-max-width {
    padding: var(--dl-space-space-threeunits);
  }
  .team12-slider1 {
    display: none;
  }
  .team12-slider2 {
    display: block;
  }
}
 
@media(max-width: 479px) {
  .team12-team8 {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .team12-max-width {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .team12-text10 {
    text-align: center;
  }
  .team12-placeholder-image2 {
    width: 100%;
  }
  .team12-placeholder-image3 {
    width: 100%;
  }
  .team12-placeholder-image4 {
    width: 100%;
  }
  .team12-placeholder-image5 {
    width: 100%;
  }
  .team12-placeholder-image6 {
    width: 100%;
  }
  .team12-placeholder-image7 {
    width: 100%;
  }
}

.supportandtips-container1 {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
 
.supportandtips-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.supportandtips-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.supportandtips-component1 {
  text-decoration: none;
}
 
.supportandtips-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.supportandtips-fragment10 {
  display: contents;
}
 
.supportandtips-text10 {
  color: #bf4f4f;
  display: inline-block;
}
 
.supportandtips-fragment11 {
  display: contents;
}
 
.supportandtips-text19 {
  display: inline-block;
}
 
.supportandtips-fragment12 {
  display: contents;
}
 
.supportandtips-text20 {
  color: var(--dl-color-grays-dark100);
  display: inline-block;
  font-style: normal;
  font-weight: 200;
}
 
.supportandtips-fragment13 {
  display: contents;
}
 
.supportandtips-text31 {
  display: inline-block;
}
 
.supportandtips-fragment14 {
  display: contents;
}
 
.supportandtips-text32 {
  display: inline-block;
}
 
.supportandtips-fragment15 {
  display: contents;
}
 
.supportandtips-text33 {
  display: inline-block;
}
 
.supportandtips-fragment16 {
  display: contents;
}
 
.supportandtips-text34 {
  display: inline-block;
}
 
.supportandtips-fragment17 {
  display: contents;
}
 
.supportandtips-text35 {
  display: inline-block;
}
 
.supportandtips-fragment18 {
  display: contents;
}
 
.supportandtips-text36 {
  display: inline-block;
}
 
.supportandtips-fragment19 {
  display: contents;
}
 
.supportandtips-text37 {
  display: inline-block;
}
 
.supportandtips-fragment20 {
  display: contents;
}
 
.supportandtips-text38 {
  display: inline-block;
}
 
.supportandtips-fragment21 {
  display: contents;
}
 
.supportandtips-text41 {
  display: inline-block;
}
 
.supportandtips-fragment22 {
  display: contents;
}
 
.supportandtips-text42 {
  display: inline-block;
}
 
.supportandtips-fragment23 {
  display: contents;
}
 
.supportandtips-text43 {
  display: inline-block;
}
 
.supportandtips-fragment24 {
  display: contents;
}
 
.supportandtips-text44 {
  display: inline-block;
}
 
.supportandtips-fragment25 {
  display: contents;
}
 
.supportandtips-text45 {
  display: inline-block;
}
 
.supportandtips-fragment26 {
  display: contents;
}
 
.supportandtips-text46 {
  display: inline-block;
}
 
.supportandtips-fragment27 {
  display: contents;
}
 
.supportandtips-text47 {
  display: inline-block;
}
 
.supportandtips-fragment28 {
  display: contents;
}
 
.supportandtips-text48 {
  display: inline-block;
}
 
.supportandtips-fragment29 {
  display: contents;
}
 
.supportandtips-text54 {
  display: inline-block;
}
 
.supportandtips-fragment30 {
  display: contents;
}
 
.supportandtips-text55 {
  display: inline-block;
}
 
.supportandtips-fragment31 {
  display: contents;
}
 
.supportandtips-text56 {
  display: inline-block;
}
 
.supportandtips-fragment32 {
  display: contents;
}
 
.supportandtips-text57 {
  display: inline-block;
}
 
.supportandtips-fragment33 {
  display: contents;
}
 
.supportandtips-text58 {
  display: inline-block;
}
