.navigation-links-wrapper {
  display: contents;
}
 
.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text2 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 
.navigation-links-text3 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-wrapper-1wqp {
  display: contents;
}
 
.navigation-links-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text5 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 
.navigation-links-text6 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-wrapper-9io7 {
  display: contents;
}
 
.navigation-links-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text8 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 
.navigation-links-text9 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav2 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text8 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text9 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-wrapper-5i8h {
  display: contents;
}
 
.navigation-links-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-text11 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 
.navigation-links-text12 {
  display: none;
  margin-left: var(--dl-space-space-twounits);
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav3 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navbar-wrapper {
  display: contents;
}
 
.navbar-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.navbar-max-width {
  position: fixed;
}
 
.navbar-text {
  color: #121212;
  text-decoration: none;
}
 
.navbar-image {
  width: 106px;
  display: none;
}
 
.navbar-home1 {
  display: flex;
}
 
.navbar-navlink1 {
  display: contents;
}
 
.navbar-home2 {
  text-decoration: none;
}
 
.navbar-tos {
  display: flex;
}
 
.navbar-navlink2 {
  display: contents;
}
 
.navbar-termsofservice {
  text-decoration: none;
}
 
.navbar-privacy1 {
  display: flex;
}
 
.navbar-navlink3 {
  display: contents;
}
 
.navbar-privacy2 {
  text-decoration: none;
}
 
.navbar-support1 {
  display: flex;
}
 
.navbar-navlink4 {
  display: contents;
}
 
.navbar-support2 {
  text-decoration: none;
}
 
@media(max-width: 767px) {
  .navbar-home1 {
    display: none;
  }
  .navbar-tos {
    display: none;
  }
  .navbar-privacy1 {
    display: none;
  }
  .navbar-support1 {
    display: none;
  }
}

.cta1-wrapper {
  display: contents;
}
 
.cta1-container {
  gap: var(--dl-space-space-threeunits);
  height: 75px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.cta1root-class-name {
  display: none;
}

.content-list1-wrapper {
  display: contents;
}
 
.content-list1-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.content-list1-content {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list1-ul {
  align-items: flex-start;
}
 
.termsof-service-fragment {
  display: contents;
}
 
.termsof-service-text100 {
  display: inline-block;
}
 
.content-list1root-class-name {
  margin-top: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
 
.content-list1root-class-name1 {
  margin-top: var(--dl-space-space-fourunits);
}

.footer-wrapper {
  display: contents;
}
 
.footer-footer {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.footer-max-width {
  justify-content: space-between;
}
 
.footer-container1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-link1 {
  display: contents;
}
 
.footer-image {
  width: 92px;
  height: 58px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.footer-text10 {
  color: var(--dl-color-grays-gray100);
  max-width: 350px;
  margin-bottom: 60px;
}
 
.footer-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text11 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
 
.footer-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.footer-icon10 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
 
.footer-icon10:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.footer-icon14 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
 
.footer-icon14:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.footer-link2 {
  display: contents;
}
 
.footer-icon18 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.footer-icon18:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.footer-link3 {
  display: contents;
}
 
.footer-icon20 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  text-decoration: none;
}
 
.footer-icon20:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.footer-links {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.footer-container3 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text12 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.footer-text14 {
  display: none;
}
 
.footer-text15 {
  display: none;
}
 
.footer-text16 {
  display: none;
}
 
.footer-text17 {
  display: none;
  margin-bottom: 0px;
}
 
.footer-container4 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.footer-text19 {
  display: none;
}
 
.footer-text20 {
  display: none;
}
 
.footer-text21 {
  display: none;
}
 
.footer-text23 {
  margin-bottom: 0px;
}
 
.footerroot-class-name {
  display: none;
}
 
.footerroot-class-name2 {
  display: none;
}
 
.footerroot-class-name1 {
  display: none;
}
 
@media(max-width: 991px) {
  .footer-max-width {
    flex-direction: column-reverse;
  }
  .footer-container1 {
    width: 100%;
  }
  .footer-links {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .footer-links {
    flex-wrap: wrap;
  }
  .footer-container3 {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .footer-text12 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .footer-container4 {
    width: 100%;
  }
  .footer-text18 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.termsof-service-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.termsof-service-fragment {
  display: contents;
}
 
.termsof-service-text100 {
  display: inline-block;
}
