.banner11-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.banner11-max-width1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner11-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner11-title1 {
  text-align: center;
}
 
.banner11-text10 {
  text-align: center;
}
 
.banner11-container3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.banner11-max-width2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner11-container4 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner11-title2 {
  text-align: center;
}
 
.banner11-text11 {
  text-align: center;
}
 
.banner11-fragment1 {
  display: contents;
}
 
.banner11-text12 {
  display: inline-block;
  font-style: normal;
  font-weight: 200;
}
 
.banner11-fragment2 {
  display: contents;
}
 
.banner11-text21 {
  display: inline-block;
}
 
.banner11-fragment3 {
  display: contents;
}
 
.banner11-text22 {
  display: inline-block;
}
 
.banner11-fragment4 {
  display: contents;
}
 
.banner11-text23 {
  color: var(--dl-color-grays-dark100);
  display: inline-block;
  font-style: normal;
  font-weight: 200;
}
 
.banner11root-class-name {
  margin-top: var(--dl-space-space-fiveunits);
}
