.cta1-container {
  gap: var(--dl-space-space-threeunits);
  height: 75px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.cta1root-class-name {
  display: none;
}
