.footer-footer {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.footer-max-width {
  justify-content: space-between;
}
 
.footer-container1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-link1 {
  display: contents;
}
 
.footer-image {
  width: 92px;
  height: 58px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.footer-text10 {
  color: var(--dl-color-grays-gray100);
  max-width: 350px;
  margin-bottom: 60px;
}
 
.footer-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text11 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
 
.footer-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.footer-icon10 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
 
.footer-icon10:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.footer-icon14 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
 
.footer-icon14:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.footer-link2 {
  display: contents;
}
 
.footer-icon18 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.footer-icon18:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.footer-link3 {
  display: contents;
}
 
.footer-icon20 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  text-decoration: none;
}
 
.footer-icon20:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
 
.footer-links {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.footer-container3 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text12 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.footer-text14 {
  display: none;
}
 
.footer-text15 {
  display: none;
}
 
.footer-text16 {
  display: none;
}
 
.footer-text17 {
  display: none;
  margin-bottom: 0px;
}
 
.footer-container4 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.footer-text19 {
  display: none;
}
 
.footer-text20 {
  display: none;
}
 
.footer-text21 {
  display: none;
}
 
.footer-text23 {
  margin-bottom: 0px;
}
 
.footerroot-class-name {
  display: none;
}
 
.footerroot-class-name2 {
  display: none;
}
 
.footerroot-class-name1 {
  display: none;
}
 
@media(max-width: 991px) {
  .footer-max-width {
    flex-direction: column-reverse;
  }
  .footer-container1 {
    width: 100%;
  }
  .footer-links {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .footer-links {
    flex-wrap: wrap;
  }
  .footer-container3 {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .footer-text12 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .footer-container4 {
    width: 100%;
  }
  .footer-text18 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
