.team12-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team12-content10 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team12-text11 {
  width: 417px;
  height: 56px;
  text-align: left;
}
 
.team12-slider1 {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}
 
.team12-slider-slide1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-container {
  flex: 0 0 auto;
  width: auto;
  height: 222px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.team12-placeholder-image1 {
  width: 163px;
  height: 239px;
  border-radius: var(--dl-radius-radius-radius8);
}
 
.team12-content11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text12 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text13 {
  text-align: center;
}
 
.team12-text14 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons1 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-pagination1 {
  display: none;
}
 
.team12-slider-pagination-bullet1 {
  display: none;
}
 
.team12-slider-button-prev1 {
  display: none;
}
 
.team12-slider-button-next1 {
  display: none;
}
 
.team12-slider2 {
  width: 100%;
  height: auto;
  display: none;
  position: relative;
}
 
.team12-slider-slide2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-placeholder-image2 {
  width: 80%;
}
 
.team12-content12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text15 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text17 {
  text-align: center;
}
 
.team12-text19 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-slide3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-placeholder-image3 {
  width: 80%;
}
 
.team12-content13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text21 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text22 {
  text-align: center;
}
 
.team12-text23 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-slide4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-placeholder-image4 {
  width: 80%;
}
 
.team12-content14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text25 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text27 {
  text-align: center;
}
 
.team12-text29 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-slide5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-placeholder-image5 {
  width: 80%;
}
 
.team12-content15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title5 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text31 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text33 {
  text-align: center;
}
 
.team12-text35 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-slide6 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card6 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-placeholder-image6 {
  width: 80%;
}
 
.team12-content16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title6 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text36 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text37 {
  text-align: center;
}
 
.team12-text38 {
  overflow: hidden;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-slide7 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.team12-card7 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-placeholder-image7 {
  width: 80%;
}
 
.team12-content17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-title7 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team12-text40 {
  font-style: normal;
  font-weight: 600;
}
 
.team12-text42 {
  text-align: center;
}
 
.team12-text43 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
 
.team12-social-icons7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.team12-slider-pagination2 {
  display: block;
}
 
.team12-content18 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
}
 
.team12-content19 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team12-fragment10 {
  display: contents;
}
 
.team12-text45 {
  display: inline-block;
}
 
.team12-fragment11 {
  display: contents;
}
 
.team12-text46 {
  display: inline-block;
}
 
.team12-fragment12 {
  display: contents;
}
 
.team12-text47 {
  display: inline-block;
}
 
.team12-fragment13 {
  display: contents;
}
 
.team12-text48 {
  display: inline-block;
}
 
.team12-fragment14 {
  display: contents;
}
 
.team12-text49 {
  display: inline-block;
}
 
.team12-fragment15 {
  display: contents;
}
 
.team12-text50 {
  display: inline-block;
}
 
.team12-fragment16 {
  display: contents;
}
 
.team12-text51 {
  display: inline-block;
}
 
.team12-fragment17 {
  display: contents;
}
 
.team12-text52 {
  display: inline-block;
}
 
.team12-fragment18 {
  display: contents;
}
 
.team12-text53 {
  display: inline-block;
}
 
.team12-fragment19 {
  display: contents;
}
 
.team12-text59 {
  display: inline-block;
}
 
.team12-fragment20 {
  display: contents;
}
 
.team12-text60 {
  display: inline-block;
}
 
.team12-fragment21 {
  display: contents;
}
 
.team12-text61 {
  display: inline-block;
}
 
.team12-fragment22 {
  display: contents;
}
 
.team12-text62 {
  display: inline-block;
}
 
.team12-fragment23 {
  display: contents;
}
 
.team12-text65 {
  display: inline-block;
}
 
.team12-fragment24 {
  display: contents;
}
 
.team12-text66 {
  display: inline-block;
}
 
.team12-fragment25 {
  display: contents;
}
 
.team12-text67 {
  display: inline-block;
}
 
.team12-fragment26 {
  display: contents;
}
 
.team12-text68 {
  display: inline-block;
}
 
.team12-fragment27 {
  display: contents;
}
 
.team12-text69 {
  display: inline-block;
}
 
.team12-fragment28 {
  display: contents;
}
 
.team12-text70 {
  display: inline-block;
}
 
.team12-fragment29 {
  display: contents;
}
 
.team12-text71 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .team12-team8 {
    padding: var(--dl-space-space-threeunits);
  }
  .team12-max-width {
    padding: var(--dl-space-space-threeunits);
  }
  .team12-slider1 {
    display: none;
  }
  .team12-slider2 {
    display: block;
  }
}
 
@media(max-width: 479px) {
  .team12-team8 {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .team12-max-width {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .team12-text10 {
    text-align: center;
  }
  .team12-placeholder-image2 {
    width: 100%;
  }
  .team12-placeholder-image3 {
    width: 100%;
  }
  .team12-placeholder-image4 {
    width: 100%;
  }
  .team12-placeholder-image5 {
    width: 100%;
  }
  .team12-placeholder-image6 {
    width: 100%;
  }
  .team12-placeholder-image7 {
    width: 100%;
  }
}
